PROJECT_NAME="test-thirty-fourth"
PROJECT_SLUG=test-thirty-fourth
GITHUB_REPOSITORY=test-thirty-fourth
LINEAR_PROJECT_KEY=TEST_THIRTY_FOURTH
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
